body {
  background-color: #f5e1da;
  font-size: 50px;
  font-family: "Product Sans", sans-serif;
  text-align: center;
  color: #d7886d;
  margin: 25px;
}
ifaf {
  font-size: 40px;
  background-color: #ff0000;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: left;
  font-family: "Roboto", sans-serif;
}
ifaf:hover {
  background-color: black;
}
fifa {
  font-size: 40px;
  background-color: #c800ff;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: left;
  font-family: "Roboto", sans-serif;
}
fifa:hover {
  background-color: #310068;
}
twiter {
  font-size: 40px;
  background-color: #00e1ff;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: left;
  font-family: "Roboto", sans-serif;
}
twiter:hover {
  background-color: #0078cd;
}
git {
  font-size: 40px;
  background-color: black;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: left;
  font-family: "Roboto", sans-serif;
}
git:hover {
  background-color: #9778d5;
}
appl {
  font-size: 40px;
  background-color: #747474;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: left;
  font-family: "Roboto", sans-serif;
}
appl:hover {
  background-color: gainsboro;
}
gpt {
  font-size: 40px;
  background-color: #42ac00;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: left;
  font-family: "Roboto", sans-serif;
}
gpt:hover {
  background-color: white;
}
